*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.cardItem{
    border: 1px solid black;
    height: 390px;
    width: 280px;
    padding: 5px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
 /* IMG */
.cardItem .cardImg{

    border:  1px solid violet;
    height: 150px;
    display: flex;
    justify-content: center;

}

.cardItem .cardImg img{

   width: 100%;


}

/* Detalle */

.cardDescript{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(233, 172, 4);
    height: 45%;


}
.cardDescript .title{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 12px 0;

}

.cardDescript .descript .descriptTitle{

    display: none;
    }

.cardDescript .stock{
    color: rgb(207, 22, 22);
    font-size: 13px;
    margin: 12px 0;


}

.cardDescript .precio{
    color: rgb(204, 16, 16);
    font-size: 30px;
    font-weight: bold;


}
/* botones cont */

.buttons{
    border: 1px solid chartreuse;
    height: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.buttons #detail{
    height: 75%;
    width: 65%;
border-radius: 40px;
    background-color: aquamarine;
    color: black;
    border: none;
    font-size: 19px;
}
.buttons #detail:hover{
    background-color: brown;
}
.buttons #Cart {
    background-color: rgb(45, 48, 47);
    height: 46px;
    width: 46px;
    border-radius: 45%;
    border: none;


}
.buttons #Cart img{
    border: 2px solid green;
}